body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: ghostwhite;
}
.mainpage-body {
    text-align: center;
    background: linear-gradient(90deg, silver, gray);
    margin: 1cm;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid black;
    animation: fadeIn 0.3s ease-in;
}
.topicBTN {
    width: 450px;
    height: 2cm;
    margin: 5px;
    font-size: 20px;
    border-radius: 10px;
    background: linear-gradient(90deg, darkgray, lightgray);
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    50% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
.backBTN {
    margin: 10px;
    padding: 5px;
    width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(90deg, lightgray, darkgray);
}
.bodypage {
    box-shadow: 15px 10px black;
    margin: 1cm;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: left;
    animation: fadeIn 0.3s ease-in;
}
.bodypage h1 {
    text-align: center;
}
.topic {
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}
hr {
    border: 2px solid black;
    padding: 2px;
}